<article class="post-item">
    {{ if .Params.image }}
    <div class="post-thumbnail-image-box">
        <a href="{{ .Permalink }}">
            <img{{ with .Params.image }} class="post-thumbnail-image" src="{{ . }}"{{ end }} alt="{{ .Title }}">
        </a>
    </div>
    {{ end }}
    <div class="post-thumbnail-entry">
        <h1 class="title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h1>
	<span class="pub-time">{{ .Date.Format "2006-01-21" }}</span></br>
        {{ if .Params.tags }}
          {{ range .Params.tags }}
	  <a class="tag-item" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
	  </br>
        {{ end }}
        {{ if .Params.description }}
	<span class="post-thumbnail-desc">{{ .Params.description }}</br><a href="{{ .RelPermalink }}">Read More…</a></span>
        {{ end }}
    </div>
</article>
