<div class="main-content">
    <figure class="about">
        {{ with .Site.Params.Hello.image }}
        <img src="{{ . }}" alt="welcome image">
        {{ end }}
    </figure>
    <nav class="navbar">
        <a class="navbar-item" href="{{ "/blog/" | relLangURL }}">
            Blog
        </a>
        {{ range .Site.Menus.global }}
        <a class="navbar-item" href="{{ .URL }}">
          {{ .Name }}
        </a>
        {{ end }}
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
        <a class="navbar-item" href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name | title }}</a>
        {{ end }}
    </nav>
    {{ with .Site.Params.Hello.intro }}
    <div class="hello" >
    <p class="hello">
        {{ . | safeHTML }}
    </p>
    {{ end }}
    </div>
    {{ with .Site.Params.Hello.text }}
    <p>
        {{ . | safeHTML }}
    </p>
    {{ end }}
    <div class="container">
        <p>
            <b>Follow me on:</b>
        </p>
        {{ partial "social.html" . }}
    </div>
</div>
